* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header1: calc(3rem + 1vw);
  --header2: calc(2.4rem + 1vw);
  --header3: calc(2.1rem + 1vw);
  --header4: calc(1.5rem + 1vw);
  --text: calc(1.2rem + 1vw);
  --card-text: calc(0.5rem + 1vw);
  --big: calc(6rem + 1vw);
  --url-color: #e6e6e6;
  --header-text: #394053;
  --gray-text: #4e4a59;
  --background-color: #6e6362;
  scroll-behavior: smooth;
}
h1 {
  font-family: sans-serif;
  font-size: var(--header1);
  padding: 10%;
}
/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .authors__article {
    width: 50rem;
    height: 20rem;
    margin-left: 10rem;
    margin-right: 2rem;
    font-size: var(--text);
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    padding-left: 1rem;
    padding-right: 0.4rem;
    margin-bottom: 1rem;
  }
}

nav{
  
  
  padding: 10%;
  text-align: left;
  background-color: #ce3030;
}

a {
  padding: 5%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
  
}
.rollmenu{
  display: block;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

main {
  background-color: #394053;
  
}

section {
  background-color: #e6e6e6;
  
}

body {
  background-color: #e6e6e6;
}

header {
  background-color:#ffffff;
  
  text-align: center;
}

aside {
  width: 30%;
  
  float: right;
  font-style: oblique;
  background-color: #ffcc99;

}


div {
  padding: 10%;
  image-rendering: auto;
  image-resolution: 100;
}