*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 /* globalní nastavení */
html {
  font-size: 62.5%;
  --header1: calc(3rem + 1vw);
  --header2: calc(2.4rem + 1vw);
  --header3: calc(2.1rem + 1vw);
  --header4: calc(1.5rem + 1vw);
  --text: calc(1.2rem + 1vw);
  --card-text: calc(0.5rem + 1vw);
  --big: calc(6rem + 1vw);
  --text-cerna: #000000;
  --pozadi-zluta: rgb(255, 255, 89);
  --header-text: #394053;
  --pozadi-cervene: #b41c1c;
  --pozadi-svetle: #f1ecec;
  --pozadi-tmave: #d9cfc1;

  scroll-behavior: smooth;
}
/* upravování sekcí */
img{
  box-align: left;
  padding-right: 2%;
}

li{
  list-style: none;
}
p{
  font-size: var(--text);
}
section{
  background-color: white;
  box-sizing: border-box;
  border: #f1ecec;
  border-color: white;
}
article{
  font-size: var(--text);
  background-color: var(--pozadi-svetle);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  
}
/* upravovaní textu */
h2{
  font-size: var(--header2);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
}
h3{
  font-family:Arial, Helvetica, sans-serif
}
a{
  font-size: var(--header4);
  
  color: var(--text);
  text-decoration: none;
}

/* sticky menu */
.MenuDiv{
text-align: center;
position: -webkit-sticky;
position: sticky;
top: 0;
box-shadow: 0px 1px 3px var(--text-cerna);
background-color: var(--pozadi-zluta);
}

.navbar{
  
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1224px;
  width: 90%;
  margin: 0 auto;
  
}
.nav-nazev{
  font-size: 2.5rem;

}
.nav-menu{
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.nav-link{
  transition: 0.3s ease-out;
}
.nav-link:hover{
  color:  white;
}
.hamburger{
  display: none;
  cursor: pointer;
}
/* klikaci tlačítko */
.bar{
  display: block;
  width: 25px;
  height: 3.8px;
  margin: 2.6px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--text-cerna);
}

@media screen and (max-width:1024px){
  .hamburger{
    display: block;
    padding: 3%;
  }

 .hamburger.active .bar{
    transform:  rotate(180deg);
    background-color: var(--text-cerna);
    display: block;
    
  }
  /* vyskakovací menu */
 .nav-menu{
    
    position: fixed;
    left: -100%;
    
    flex-direction: column;
    background-color: var(--pozadi-tmave);
    width: 100%;
    height: 100%;
    text-decoration: dotted;
    text-align: center;
    transition: 0.3s;
    
  }
  .nav-menu.active{
    left: 0%;
    bottom: 0;
  }
 .nav-item{
    margin: 3%;
  }

  
}
  /* footer */
  footer {
    background: var(--pozadi-tmave);
    color: black;
    padding: 2%;
    
}

.flexbox {
  display: flex;
  border: 1px black solid;
  padding: 2%;
  
}

.flexbox h3{
  align-items: stretch;
  padding-bottom: 25%; 
}

.box1 {
  padding: 2%;
  flex: 2;
  text-align: left;
  align-items: center;
  }

.box2 {
  padding: 2%;
  flex: 0.5;
  text-align: center;
  
}

.box3 {
  padding: 2%;
  flex: 0.5;
  text-align: center;
}

.box4 {
  padding: 2%;
  flex: 0.5; 
  text-align: center;
}

.box5 {
  padding: 2%;
  flex: 2;
  text-align: center;
 }

 footer h3 {
  font-size: calc(1rem + 1vw);
  flex: 2 1 52rem;
  padding-bottom: 2%;
}

footer h4 {
  font-family:'Times New Roman', Times, serif;
  flex: 3 1 40rem;
  font-size: var(--text);
  
}

.footer2 {
  text-align: center;
  background:var(--pozadi-svetle);
}

.grid-container{
  background-color: var(--pozadi-tmave);
  display: grid;
  grid-gap: 2%;
  grid-template-rows: 12% 10% 10% 10%;
  grid-template-columns: 30% 30% 30%;
  grid-template-areas:
  "grid-item1 grid-item2 grid-item2"
  "grid-item3 grid-item3 grid-item4"
  "grid-item5 grid-item5 grid-item4"
  "grid-item6 grid-item7 grid-item8";
}
.grid-container p{
  text-align: center;
}
.grid-img {
  width: 100%;
  height: 100%;
}
.grid-item1{
  grid-area: grid-item1;
}
.grid-item2{
  grid-area: grid-item2;
}
.grid-item3{
  grid-area: grid-item3;
}
.grid-item4{
  grid-area: grid-item4;
}
.grid-item5{
  grid-area: grid-item5;
}
.grid-item6{
  grid-area: grid-item6;
}
.grid-item7{
  grid-area: grid-item7;
}
.grid-item8{
  grid-area: grid-item8;
}



